.search-bar {
    padding: 12px 0px 0px 10px;
    width: 100%;
    justify-content: center;
    *background: url(../../assets/images/fondo.jpeg);
}

.search {
    border: 1px solid #dfe1e5;
    border-radius: 8px 0 0 8px;
    width: 70%;
    padding-left: 1em;
    line-height: 2.5;
    font-family: revert;
}

.search-btn{
    border-radius: 0 8px 8px 0;
}

@media (min-width: 800px) {
    .search-bar {
        width: 100%;
    }

    .search {
        width: 40%;
    }
}
