header {
    width: 100%;
    flex-direction: column;
}

.title-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/fondo.jpeg);
}

.title-app-home {
    font-size: 80px;
    cursor: pointer;
    color: var(--darkprimary-color);
    display: inline-block;
    font-family: "Cedarville Cursive", cursive;
    margin-top: 100px;
}

.title-app {
    font-size: 80px;
    cursor: pointer;
    color: var(--darkprimary-color);
    display: inline-block;
    *font-family: "Butcherman", cursive;
    *font-family: "Averia Serif Libre", cursive;
    *font-family: "Knewave", cursive;
    font-family: "Cedarville Cursive", cursive;
}

.log-container {
    width: 98%;
    justify-content: flex-end;
}

/* @media (min-width: 800px){
    
} */
