.search-bar {
    padding: 12px 0px 0px 10px;
    width: 100%;
    justify-content: center;
}

.search {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    height: 36px;
    width: 70%;
}

.search-btn {
    background: var(--primary-color);
    padding: 0.5em;
    color: var(--light-color);
    border: 0;
    border-radius: 7%;
    cursor: pointer;
}

@media (min-width: 800px) {
    .search-bar {
        width: 100%;
    }

    .search {
        width: 40%;
    }
}
