.similar-container {
    width: 100%;
    margin: 2em 0 5em 0;
}

.similar-movies {
    flex-wrap: wrap;
    justify-content: center;
}

.similar-title {
    margin: 0 0 1em 2em;
    font-weight: 700;
}
