/*
rojo: #d50000;
negro: #212121;
gris: #616161

negro azulado: #263238
gris azulado: #546e7a

=========
rose red:#74112F;
dark blue: #0C0C1E;
midnight blue: #1B2E3C;
black: #211522;


*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    *background-color: #212121;
    background-color: #0c0c1e;
    font-size: 18px;
    font-family: "Spectral", serif;
}

.flex {
    display: flex;
}
