/*
OPCION 1:
--primary-color: #ad1457;
--background-dark: #212121;
--darkprimary-color: #74112f;
--secondary-color: #1b2e3c;
--light-color: #f2f2f2;


---
OPCIÓN 2:
--primary-color: #c10d09;
--background-dark: #212121;
--darkprimary-color: #680e10;
--secondary-color: #8d5800;
--light-color: #f2f2f2;

*/

:root {
    --primary-color: #ad1457;
    --background-dark: #212121;
    --darkprimary-color: #74112f;
    --secondary-color: #1b2e3c;
    --light-color: #f2f2f2;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-dark);
    *background: url(images/fondo.jpeg);
    *background-color: #0c0c1e;
    font-size: 18px;
    font-family: "Spectral", serif;
    color: var(--light-color);
}

.flex {
    display: flex;
}
