.error-container {
    width: 100%;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-container p {
    margin-top: 1em;
}

.error-container img {
    width: 250px;
}
